---
import PageLayout from "../layouts/PageLayout.astro";
import SearchBar from "../components/SearchBar.astro";
import Hero from "../components/Hero.astro";
import ProductGrid from "../components/ProductGrid.astro";
import ContentBlockImageRight from "../components/ContentBlockImageRight.astro";
import ContentBlockImageLeft from "../components/ContentBlockImageLeft.astro";
import onboardingImage from "../images/onboarding.svg";
import emailsImage from "../images/emails.svg";
import cloudImage from "../images/cloud.svg";
import webShoppingImage from "../images/web-shopping.svg";
import onlineAdImage from "../images/online-ad.svg";
const pageName = " Omega Domains Home Page";
---

<PageLayout pageName={pageName}>
  <SearchBar />
  <Hero />
  <ProductGrid />
  <div class="content-block-1">
    <ContentBlockImageRight
      titleHeading="Domain + Professional Email"
      textHeading="Build your brand online."
      textContent="Get a memorable online address — .com or .co.uk, it’s your choice — and back it up with a matching email address your customers can trust. Get both, plus expert 24x7 support, with this bundle for just £1.50/mo."
      btnText="Get Started"
      image={onboardingImage}
      imageAltText="Person looking at various website pages"
    />
  </div>
  <div class="content-block-2">
    <ContentBlockImageLeft
      titleHeading="Professional Email"
      textHeading="Build on your success."
      textContent="Everyone has email, but that doesn’t mean all email is the same. Customers are nine times more likely to choose a business with a professional address like you@YourBusiness.com."
      btnText="See Email Plans"
      image={emailsImage}
      imageAltText="Person looking emails on a smartphone"
    />
  </div>
  <div class="content-block-3">
    <ContentBlockImageRight
      titleHeading="Hosting"
      textHeading="Fast, secure and always online."
      textContent="Already have a website? Give it the home it deserves. With free SSL, industry-leading load times, guaranteed 99.9% uptime and expert, 24/7 support, your site couldn't ask for more."
      btnText="See Web Hosting Plans"
      image={cloudImage}
      imageAltText="Image of laptop"
    />
  </div>
  <div class="content-block-4">
    <ContentBlockImageLeft
      titleHeading="Online Store"
      textHeading="Sell your products to anyone, anywhere."
      textContent="Whether you sell home décor or hip hop beats, our Online Store is built to work for you. Easily create a store that fits your brand, get found with integrated marketing tools and do it all from your smartphone."
      btnText="Start for Free"
      image={webShoppingImage}
      imageAltText="Picture of a woman shopping online "
    />
  </div>
  <div class="content-block-5">
    <ContentBlockImageRight
      titleHeading="Websites & Marketing"
      textHeading="Get more than just a website."
      textContent="Easily create a modern, professional website with no technical skills required, thanks to 100s of industry-specific templates. Take the guesswork out of building your business with Omega's A.I. powered advice that’s tailored to your business. Get found on the sites your customers visit most with built-in tools for SEO, social media and email marketing. Add an online store to sell physical and digital products, track your inventory and even let customers book appointments online."
      btnText="Start For Free"
      image={onlineAdImage}
      imageAltText="Image of laptop"
    />
  </div>
</PageLayout>
