---
const { titleHeading, textHeading, textContent, btnText, image, imageAltText } =
  Astro.props;
---

<div class="img-container">
  <img class="content-img" src={image} alt={imageAltText} />
</div>
<div class="container">
  <h2 class="content-title">{titleHeading}</h2>
  <h3 class="content-heading">{textHeading}</h3>
  <p class="content-para">{textContent}</p>
  <button class="content-btn">{btnText}</button>
</div>

<style>
  .container {
    width: 50%;
    margin-left: 3rem;
  }

  .content-title {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .content-heading {
    font-family: "Yeseva One", cursive;
    font-size: 2.5rem;
    width: 75%;
    margin-bottom: 16px;
    line-height: 1.25em;
  }

  .content-para {
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 80%;
    line-height: 1.4rem;
  }

  .content-btn {
    background-color: var(--forest_green);
    color: var(--platinum);
    font-size: 1rem;
    padding: 15px 40px;
    cursor: pointer;
    transition: 0.3s;
  }

  .content-btn:hover {
    background-color: var(--black);
    color: var(--platinum);
  }

  .img-container {
    width: 50%;
    margin-right: 3rem;
  }

  .content-img {
    width: 550px;
    height: 450px;
    background-color: var(--platinum);
    margin-left: 3rem;
    padding: 1.5rem;
    border-radius: 5px;
  }

  @media screen and (max-width: 1140px) {
    .container {
      margin: 0;
    }

    .content-para {
      width: auto;
    }

    .img-container{
        margin: 0;
        width: auto;
    }


    .content-img {
      width: 350px;
      height: 250px;
      margin: 0;
    }
  }

  @media screen and (max-width: 480px) {
    .container {
      text-align: center;
    }

    .content-heading {
      width: auto;
    }

    .content-img {
      margin-top: 2.5rem;
    }
</style>
