---
import websiteCreatorImg from "../images/website-creator.jpeg";
import magnifyingGlassImg from "../images/magnifying-glass-solid.svg";
import rightLeftArrowImg from "../images/right-left-solid.svg";
import hammerImg from "../images/gavel-solid.svg";
import dollarImg from "../images/sack-dollar-solid.svg";
import listImg from "../images/list-solid.svg";
import checkImg from "../images/square-check-solid.svg";
import userImg from "../images/circle-user-solid.svg";
import globeImg from "../images/globe-solid.svg";
import gridImg from "../images/border-all-solid.svg";
---

<div class="mega-menu mega-menu-1">
  <div class="top-container">
    <h2 class="column-heading">DOMAIN NAMES</h2>
  </div>
  <div class="columns">
    <div class="column">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={magnifyingGlassImg} alt="search icon" /> Search
          for Domain Names
        </li>
        <li class="nav-link">
          <img
            class="link-icon"
            src={rightLeftArrowImg}
            alt="arrows icon"
          />Transfer Domain Names
        </li>
        <li class="nav-link">
          <img class="link-icon" src={hammerImg} alt="hammer icon" />Auctions
          for Domain Names
        </li>
        <li class="nav-link">
          <img class="link-icon" src={dollarImg} alt="dollar icon" />Domain
          Value Appraisal
        </li>
        <li class="nav-link">
          <img class="link-icon" src={listImg} alt="list icon" />Browse Domain
          Name Options
        </li>
      </ol>
    </div>
    <div class="column">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={checkImg} alt="check icon" />Generate
          Domain & Business Names
        </li>
        <li class="nav-link">
          <img class="link-icon" src={userImg} alt="user icon" />Domain Broker
          Service
        </li>
        <li class="nav-link">
          <img class="link-icon" src={globeImg} alt="globe icon" />Find a Domain
          Owner (WHOIS)
        </li>
        <li class="nav-link">
          <img class="link-icon" src={gridImg} alt="grid icon" />Save with
          Bundles
        </li>
      </ol>
    </div>
    <div class="column">
      <img class="menu-img" src={websiteCreatorImg} alt="Computer Image" />
      <h3 class="img-heading">Learn More About Domains</h3>
    </div>
  </div>
</div>

<style>
  .mega-menu {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: var(--white);
    width: 100%;
    left: 0;
    margin-top: 69px;
    border-top: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
  }

  .mega-menu.active {
    display: block;
    position: absolute;
  }

  .top-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .column-heading {
    font-size: 1rem;
    color: var(--black);
    opacity: 0.5;
    margin-left: 4.5rem;
  }

  .columns {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0rem 4.25rem;
  }

  .column {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  .link-icon {
    height: 35px;
    width: 35px;
    background-color: var(--sage);
    padding: 6px;
    border-radius: 5px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 3px;
    width: 80%;
  }

  .nav-link:hover {
    cursor: pointer;
    color: var(--forest_green);
    background-color: var(--platinum);
    border-radius: 5px;
  }

  .menu-img {
    height: 250px;
    width: 400px;
    border-radius: 3px;
  }

  .img-heading {
    font-size: 1.25rem;
  }

  .img-heading:hover {
    cursor: pointer;
    text-decoration: underline;
  }
</style>
