---
import websiteCreatorImg from "../images/website-creator.jpeg";
import magnifyingGlassImg from "../images/magnifying-glass-solid.svg";
import rightLeftArrowImg from "../images/right-left-solid.svg";
import hammerImg from "../images/gavel-solid.svg";
import dollarImg from "../images/sack-dollar-solid.svg";
import listImg from "../images/list-solid.svg";
import checkImg from "../images/square-check-solid.svg";
import userImg from "../images/circle-user-solid.svg";
import globeImg from "../images/globe-solid.svg";
import gridImg from "../images/border-all-solid.svg";
import backArrow from "../images/back-arrow.svg";
---

<div class="sub-menu-container dn-container">
  <div class="wrapper">
    <img class="back-btn dn-close" src={backArrow} alt="back arrow" />
    <h2 class="sub-heading">DOMAIN NAMES</h2>
    <div class="nav-links">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={magnifyingGlassImg} alt="search icon" /> Search
          for Domain Names
        </li>
        <li class="nav-link">
          <img
            class="link-icon"
            src={rightLeftArrowImg}
            alt="arrows icon"
          />Transfer Domain Names
        </li>
        <li class="nav-link">
          <img class="link-icon" src={hammerImg} alt="hammer icon" />Auctions
          for Domain Names
        </li>
        <li class="nav-link">
          <img class="link-icon" src={dollarImg} alt="dollar icon" />Domain
          Value Appraisal
        </li>
        <li class="nav-link">
          <img class="link-icon" src={listImg} alt="list icon" />Browse Domain
          Name Options
        </li>
        <li class="nav-link">
          <img class="link-icon" src={checkImg} alt="check icon" />Generate
          Domain & Business Names
        </li>
        <li class="nav-link">
          <img class="link-icon" src={userImg} alt="user icon" />Domain Broker
          Service
        </li>
        <li class="nav-link">
          <img class="link-icon" src={globeImg} alt="globe icon" />Find a Domain
          Owner (WHOIS)
        </li>
        <li class="nav-link">
          <img class="link-icon" src={gridImg} alt="grid icon" />Save with
          Bundles
        </li>
      </ol>
    </div>
    <img class="menu-img" src={websiteCreatorImg} alt="Computer Image" />
    <h3 class="img-heading">Learn More About Domains</h3>
  </div>
</div>

<style>
  @media screen and (max-width: 1140px) {
    .sub-menu-container {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      z-index: 1;
      overflow-x: hidden;
      top: 0;
      left: 400px;
      background-color: var(--platinum);
      width: 25%;
      height: 100vh;
      transition: 0.7s ease-in-out;
      white-space: nowrap;
    }

    .sub-menu-container.active {
      left: 0;
      width: 75%;
      visibility: visible;
      opacity: 1;
    }

    .wrapper {
      display: grid;
      grid-template-columns: auto;
      height: 100vh;
    }

    .back-btn {
      padding: 2rem 0rem 1rem 1rem;
    }

    .sub-heading {
      font-size: 1.5rem;
      color: var(--black);
      opacity: 0.5;
      padding: 8px;
    }

    .nav-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      font-weight: 600;
      padding: 8px;
    }

    .link-icon {
      height: 45px;
      width: 45px;
      background-color: var(--sage);
      padding: 6px;
      border-radius: 5px;
    }

    .menu-img {
      height: 250px;
      width: 325px;
      border-radius: 3px;
      margin-left: 8px;
      padding-top: 1rem;
    }

    .img-heading {
      font-size: 1.5rem;
      margin-left: 8px;
      padding: 1rem 0rem 2rem 0rem;
    }
  }

  @media screen and (max-width: 480px) {
    .sub-heading {
      font-size: 1rem;
    }

    .nav-link {
      font-size: 0.75rem;
    }

    .link-icon {
      height: 35px;
      width: 35px;
    }

    .menu-img {
      height: 150px;
      width: 225px;
    }

    .img-heading {
      font-size: 1rem;
    }
  }
</style>
