---
import seoImg from "../images/seo.jpeg";
import envelopeImg from "../images/envelope-solid.svg";
import imageImg from "../images/image-solid.svg";
import bullhornImg from "../images/bullhorn-solid.svg";
import arrowRightImg from "../images/arrow-right-solid.svg";
---

<div class="mega-menu" id="mega-menu-3">
  <div class="top-container">
    <h2 class="column-heading">CONNECT & GROW</h2>
  </div>
  <div class="columns">
    <div class="column">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={envelopeImg} alt="mail icon" />Email &
          Microsoft 365
        </li>
        <li class="nav-link">
          <img class="link-icon" src={imageImg} alt="image icon" />Content &
          Photo Creator
        </li>
      </ol>
    </div>
    <div class="column">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={bullhornImg} alt="bullhorn icon" />Digital
          Marketing Suite
        </li>
        <li class="nav-link">
          <img
            class="link-icon arrow-icon"
            src={arrowRightImg}
            alt="arrow right icon"
          />All Marketing Options
        </li>
      </ol>
    </div>
    <div class="column">
      <img class="menu-img" src={seoImg} alt="" />
      <h3 class="img-heading">Hire an SEO Expert</h3>
    </div>
  </div>
</div>
<style>
  .top-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .column-heading {
    font-size: 1rem;
    color: var(--black);
    opacity: 0.5;
    margin-left: 4.5rem;
  }

  .columns {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0rem 4.25rem;
  }

  .column {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 3px;
    width: 80%;
  }

  .nav-link:hover {
    cursor: pointer;
    color: var(--forest_green);
    background-color: var(--platinum);
    border-radius: 5px;
  }

  .link-icon {
    height: 35px;
    width: 35px;
    background-color: var(--sage);
    padding: 6px;
    border-radius: 5px;
  }

  .arrow-icon {
    background-color: var(--white);
  }

  .menu-img {
    height: 250px;
    width: 400px;
    border-radius: 3px;
  }

  .img-heading {
    font-size: 1.25rem;
  }

  .img-heading:hover {
    cursor: pointer;
    text-decoration: underline;
  }
</style>
