---
import arrowRight from "../images/arrow-right-solid.svg";
import questionIcon from "../images/circle-question-solid.svg";
import accountIcon from "../images/user-solid.svg";
import shoppingCart from "../images/shopping-cart.svg";
import omegaIcon from "../images/omega-icon.png";
import DomainNamesMobileMenu from "./DomainNamesMobileMenu.astro";
import EmailMarketingMobileMenu from "./Email&MarketingMobileMenu.astro";
import WebsitesHostingMobileMenu from "./Websites&HostingMobileMenu.astro";
---

<div class="menu-container">
  <div class="wrapper">
    <div class="top-links">
  <img class="mob-menu-logo" src={omegaIcon} alt="Omega Domains Logo">
      <div class="top-link">
        <span>Domain Names</span>
        <img src={arrowRight} alt="right arrow" class="arrow dn-open "  />
      </div>
<DomainNamesMobileMenu/>
      <div class="top-link">
        <span>Websites & Hosting</span><img
          src={arrowRight}
          alt="right arrow"
          class="arrow wh-open"
        />
      </div>
<WebsitesHostingMobileMenu/>
      <div class="top-link">
        <span>Email & Marketing</span><img
          src={arrowRight}
          alt="right arrow"
          class="arrow em-open"
        />
      </div>
<EmailMarketingMobileMenu/>
    </div>
    <div class="bottom-links">
      <div class="bottom-link">
        <img class="icon" src={questionIcon} alt="question mark icon" /><span
          >Help Center</span
        >
      </div>
      <div class="bottom-link">
        <img class="icon" src={accountIcon} alt="account icon" /><span
          >Account</span
        >
      </div>
      <div class="bottom-link">
        <img class="icon" src={shoppingCart} alt="shopping cart icon" /><span
          >Basket</span
        >
      </div>
    </div>
  </div>
</div>

<style>
  .menu-container {
    display: none;
  }

  @media screen and (max-width: 1140px) {
        .menu-container {
      display: block;
      position: fixed;
      z-index: 1;
      overflow-x: hidden;
      top: 0;
      left: 0;
      background: var(--white);
      width: 0%;
      height: 100vh;
      transition: 0.7s ease-in-out;
      white-space: nowrap;
    }

    .menu-container.active {
      width: 75%;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-top: 1rem;
    }

    .mob-menu-logo {
      height: 38px;
      width: 38px;
    }

    .top-links {
      display: flex;
      flex-direction: column;
      gap: 60px;
      margin: 0rem 1rem;
    }

    .top-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
    }

    .bottom-links {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 0rem 1rem;
      padding-bottom: 1rem;
    }

    .bottom-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.8rem;
      gap: 10px;
    }

    .arrow {
      background-color: var(--white);
      height: 25px;
      width: 25px;
    }

    .icon {
      color: var(--black);
      height: 30px;
      width: 30px;
    }
  }
  }

  @media screen and (max-width: 480px) {

</style>
