---
import websiteImg from "../images/website.jpeg";
import windowImg from "../images/window-maximize-regular.svg";
import shopImg from "../images/shop-solid.svg";
import pencilImg from "../images/pencil-solid.svg";
import arrowRightImg from "../images/arrow-right-solid.svg";
import serverImg from "../images/server-solid.svg";
import wordpressImg from "../images/wordpress.svg";
import shieldImg from "../images/shield-halved-solid.svg";
import lockImg from "../images/lock-solid.svg";
import cloneImg from "../images/clone-solid.svg";
import backArrow from "../images/back-arrow.svg";
---

<div class="sub-menu-container wh-container">
  <div class="wrapper">
    <img class="back-btn wh-close" src={backArrow} alt="back arrow" />
    <h2 class="sub-heading">WEBSITES</h2>
    <div class="nav-links">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={windowImg} alt="window icon" />Website
          Builder
        </li>
        <li class="nav-link">
          <img class="link-icon" src={shopImg} alt="shop icon" />Online Store
        </li>
        <li class="nav-link">
          <img class="link-icon" src={pencilImg} alt="pencil icon" />Website
          Design Services
        </li>
        <li class="nav-link">
          <img
            class="link-icon arrow-icon"
            src={arrowRightImg}
            alt="arrow right icon"
          />All Website Options
        </li>
      </ol>
    </div>
    <div class="nav-links">
      <h2 class="sub-heading">HOSTING</h2>
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={serverImg} alt="server icon" />Web Hosting
        </li>
        <li class="nav-link">
          <img
            class="link-icon"
            src={wordpressImg}
            alt="wordpress icon"
          />WordPress Hosting
        </li>
        <li class="nav-link">
          <img
            class="link-icon"
            src={wordpressImg}
            alt="wordpress icon"
          />WordPress eCommerce Hosting
        </li>
        <li class="nav-link">
          <img
            class="link-icon arrow-icon"
            src={arrowRightImg}
            alt="arrow right icon"
          />All Hosting Options
        </li>
      </ol>
    </div>
    <h2 class="sub-heading">WEB SECURITY</h2>
    <div class="nav-links">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={shieldImg} alt="shield icon" />SSL
          Certificates
        </li>
        <li class="nav-link">
          <img class="link-icon" src={lockImg} alt="padlock icon" />Website
          Security
        </li>
        <li class="nav-link">
          <img class="link-icon" src={cloneImg} alt="clone icon" />Back Up Your
          Website
        </li>
        <li class="nav-link">
          <img
            class="link-icon arrow-icon"
            src={arrowRightImg}
            alt="arrow right icon"
          />All Web Security Options
        </li>
      </ol>
    </div>
    <img class="menu-img" src={websiteImg} alt="image of a laptop" />
    <h3 class="img-heading">Let our experts build your site</h3>
  </div>
</div>

<style>
  @media screen and (max-width: 1140px) {
    .sub-menu-container {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      z-index: 1;
      overflow-x: hidden;
      top: 0;
      left: 400px;
      background-color: var(--platinum);
      width: 25%;
      height: 100vh;
      transition: 0.7s ease-in-out;
      white-space: nowrap;
    }

    .sub-menu-container.active {
      left: 0;
      width: 75%;
      visibility: visible;
      opacity: 1;
    }
    .wrapper {
      display: grid;
      grid-template-columns: auto;
      height: 100vh;
    }

    .back-btn {
      padding: 2rem 0rem 1rem 1rem;
    }

    .sub-heading {
      font-size: 1.5rem;
      color: var(--black);
      opacity: 0.5;
      padding: 8px;
    }

    .nav-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      font-weight: 600;
      padding: 8px;
    }

    .link-icon {
      height: 45px;
      width: 45px;
      background-color: var(--sage);
      padding: 6px;
      border-radius: 5px;
    }

    .menu-img {
      height: 250px;
      width: 325px;
      border-radius: 3px;
      margin-left: 8px;
      padding-top: 1rem;
    }

    .img-heading {
      font-size: 1.5rem;
      margin-left: 8px;
      padding: 2rem 0rem 2rem 0rem;
    }
  }

  @media screen and (max-width: 480px) {
    .sub-heading {
      font-size: 1rem;
    }

    .nav-link {
      font-size: 0.75rem;
    }

    .link-icon {
      height: 35px;
      width: 35px;
    }

    .menu-img {
      height: 150px;
      width: 225px;
    }

    .img-heading {
      font-size: 1rem;
    }
  }
</style>
