---
import websiteImg from "../images/website.jpeg";
import windowImg from "../images/window-maximize-regular.svg";
import shopImg from "../images/shop-solid.svg";
import pencilImg from "../images/pencil-solid.svg";
import arrowRightImg from "../images/arrow-right-solid.svg";
import serverImg from "../images/server-solid.svg";
import wordpressImg from "../images/wordpress.svg";
import shieldImg from "../images/shield-halved-solid.svg";
import lockImg from "../images/lock-solid.svg";
import cloneImg from "../images/clone-solid.svg";
---

<div class="mega-menu">
  <div class="top-container">
    <h2 class="column-heading heading-1">WEBSITES</h2>
    <h2 class="column-heading heading-2">HOSTING</h2>
    <h2 class="column-heading heading-3">WEB SECURITY</h2>
  </div>
  <div class="columns">
    <div class="column">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={windowImg} alt="window icon" />Website
          Builder
        </li>
        <li class="nav-link">
          <img class="link-icon" src={shopImg} alt="shop icon" />Online Store
        </li>
        <li class="nav-link">
          <img class="link-icon" src={pencilImg} alt="pencil icon" />Website
          Design Services
        </li>
        <li class="nav-link">
          <img
            class="link-icon arrow-icon"
            src={arrowRightImg}
            alt="arrow right icon"
          />All Website Options
        </li>
      </ol>
    </div>
    <div class="column">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={serverImg} alt="server icon" />Web Hosting
        </li>
        <li class="nav-link">
          <img
            class="link-icon"
            src={wordpressImg}
            alt="wordpress icon"
          />WordPress Hosting
        </li>
        <li class="nav-link">
          <img
            class="link-icon"
            src={wordpressImg}
            alt="wordpress icon"
          />WordPress eCommerce Hosting
        </li>
        <li class="nav-link">
          <img
            class="link-icon arrow-icon"
            src={arrowRightImg}
            alt="arrow right icon"
          />All Hosting Options
        </li>
      </ol>
    </div>
    <div class="column">
      <ol>
        <li class="nav-link">
          <img class="link-icon" src={shieldImg} alt="shield icon" />SSL
          Certificates
        </li>
        <li class="nav-link">
          <img class="link-icon" src={lockImg} alt="padlock icon" />Website
          Security
        </li>
        <li class="nav-link">
          <img class="link-icon" src={cloneImg} alt="clone icon" />Back Up Your
          Website
        </li>
        <li class="nav-link">
          <img
            class="link-icon arrow-icon"
            src={arrowRightImg}
            alt="arrow right icon"
          />All Web Security Options
        </li>
      </ol>
    </div>
    <div class="column">
      <img class="menu-img" src={websiteImg} alt="image of a laptop" />
      <h3>Let our experts build your site</h3>
    </div>
  </div>
</div>

<style>
  .mega-menu {
    /* display: none; */
    z-index: 1;
    position: absolute;
    background-color: var(--white);
    width: 100%;
    left: 0;
    margin-top: 69px;
    border-top: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
  }

  .top-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 68px;
    gap: 229px;
  }

  .column-heading {
    font-size: 1rem;
    color: var(--black);
    opacity: 0.5;
  }

  .heading-3 {
    margin-left: 55px;
  }

  .columns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 4.25rem;
  }

  .column {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 3px;
    width: 90%;
  }

  .nav-link:hover {
    cursor: pointer;
    color: var(--forest_green);
    background-color: var(--platinum);
    border-radius: 5px;
  }

  .link-icon {
    height: 35px;
    width: 35px;
    background-color: var(--sage);
    padding: 6px;
    border-radius: 5px;
  }

  .arrow-icon {
    background-color: var(--white);
  }

  .menu-img {
    height: 250px;
    width: 350px;
    border-radius: 3px;
  }
</style>
